*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #232146;
    color: white;
}

nav{
    margin: 25px;
}

nav ul{
    display: flex;
    justify-content: right;
    gap: 20px;

}

nav ul li{
    list-style: none;
    font-size: x-large;
}

img[alt="menul"]{
    width: 20px;
    
}
.hambrger{
    display: none;
}

img[alt="waving-hand"]{
    height: 45px;
}
img[alt="pc-image"]{
    width: 30vw;
}

.firstline{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.secondline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.secondline h1{
    font-size: 50px;
}

.secondline h4{
    font-size: 30px;
    color: rgb(194, 248, 0);
}

.introduction{
    margin: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    max-width: 100vw;
    align-items: center;
}
.projects{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
}

.projects h1{
    font-size: 50px;
}

img[alt="projectimg"]{
    width: 20vw;
}

.projectgrid{

    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 300px;
    padding-right: 300px;
    
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* footer */

.Contactme h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}
.social-links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img[alt="social"]{
    width: 30px;
}

img:hover{
    cursor: pointer;
}

.menu:hover{
    background-color: rgb(38, 38, 243);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

/* Media queries */
@media screen and (max-width: 576px) {
    nav ul{
        display: none;
    }
    img[alt="menul"]{
        display: block;
        width: 20px;
    }
    .hambrger{
        display: block;
    }
    .introduction{
        display: flex;
        flex-direction: column;
    }
    img[alt="pc-image"]{
        width: 60vw;
    }
    .firstline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }
    .secondline h1{
        font-size: 40px;
    }
    .secondline h2{
        font-size: 25px;
        text-align: center;
    }
    .projectgrid{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
        padding-left: 30%;
        padding-right: 30%; 
    }
    img[alt="projectimg"]{
        width: 55vw;
    }
    .projects h1{
        font-size: 35px;
    }
    .Contactme h1{
        font-size: 35px;
    }
}